<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Robot Builder</title>
</head>
<body>
<h1>Build your own robot here:</h1>

<form action="{% url 'your_robot' %}">


    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="You can leave it empty">

    <br><br>


    Height:
    <select name="height">
        <option value="2">2 Units</option>
        <option value="3">3 Units</option>
        <option value="4" selected="selected">4 Units</option>
        <option value="5">5 Units</option>
    </select>
    <br><br>


    Type:
    <input type="radio" id="friendly" name="status" value="friendly">
    <label for="friendly">Friendly</label>
    <input type="radio" id="hostile" name="status" value="hostile">
    <label for="hostile">Hostile</label>
    <br><br>

    Message:
    <br>
    <textarea name="myTextArea"cols="40" rows="4" placeholder="Max: 100 characters. If you leave it blank, your robot will come up with some greetings for you."></textarea>
    <br><br>


    <input type="reset" value="Reset your work">
    <br><br>
    <input type="submit" value="Build robot !">
</form>
</body>
</html>